
/* whole website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}

body, html {
    height: 100vh;
    overflow: hidden;
    background-image: url(portfolio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;      
}

.main {
    background-color:  rgb(241, 229, 241,.36)    ;
    display: grid;
    grid-template-rows: 10% 90%;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 70%; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid none;
    border-radius: 10px;
    transition: .6s ease-in-out;
    position:absolute;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.main .title  p{
    background-color: #81afd7    ;
    text-align: center;
    
    font-family: "Archivo Black", sans-serif;
  
    font-style: normal;
    letter-spacing: 7px;
    font-size: 45px;
    cursor: default;
    margin-top: 6%;
    border-radius: 20px;
    padding: 1% 2%;
    
      
   
}

.members {
    display: flex;
    align-items: center;
    flex-direction: grid;
    justify-content: center;
    background-color:transparent;
    text-align: center;
    height: 60%
}
.bsimg {
    margin: 0% 2%;
    padding: 2%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: .16s ease-in ;
    height: 100%;
    font-weight: 800;
    background-color: rgb(204, 204, 223);
}
img {
    width: 140px;
    height: 140px;
    margin-bottom: 40%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
   
}
.bsimg:hover {
    transform: scale(1.1);
    box-shadow: rgba(50, 50, 105, 0.3) 0px 4px 10px 0px, rgba(0, 0, 0, 0.1) 0px 2px 2px 0px;
}
a {
    text-decoration: none;
    color: inherit; 
    font: inherit; 
    cursor: pointer; 
    font-size: 15px;
  }
